<div class="container mt-4">
    <form method="post" >
        <div class="form-group">
            <label for="search">Email address</label>
            <input type="type" class="form-control" id="search" name="t">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>